html {
  font-size: 12px !important;
  white-space nowrap
}

.v-application * {
  font-family: 'M PLUS 1p', 'Reggae One', 'Noto Sans TC', 'roboto' !important;
}


.w100 {
  width: 100% !important;
}

.text-mini {
  font-size: 0.75rem !important;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.0333333333em !important;
}

.text-bigger {
  font-size: 1.25rem !important;
  font-weight: 400;
}
